.Text {
    font-family: Verdana, Geneva, sans-serif;
    display: inline;
    color: #fff;
    font-size: 15px;
}

.primary {
    color: #000000;
}

.secondary {
    color: rgb(146, 138, 138);
}

.small {
    font-size: 11px;
}

.large {
    font-size: 14px;
}

.space {
    margin-left: 8px;
}