.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Verdana, Geneva, sans-serif;
  width: 100%;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.Body {
  margin: auto;
  width: 85%;
  background-color: rgb(130, 130, 130, 0.1);
  padding-top: 10px;
  padding-bottom: 20px;
}

.HeaderLeft {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Line {
  width: 100%;
  background-color: rgb(245, 78, 18);
  height: 2px;
  margin-top: 5px;
}